[Unit]
Description=Prometheus
Requires=network.target
After=network.target

[Service]
User=prometheus
Type=simple
ExecStart=<%= "#{@install_path}/prometheus" %> --config.file=<%= @config_file %> --storage.tsdb.path=<%= @storage_tsdb_path %> --web.listen-address=<%= @web_listen_address %> --web.enable-admin-api
PrivateTmp=true
Restart=always

[Install]
WantedBy=multi-user.target