{{- /* custom.subject(Data) */ -}}
{{- /* This provides a stable subject value that is only a function of the static */ -}}
{{- /* values used to group the alerts being notified (GroupLabels). */ -}}
{{- /* It does NOT make use of the number of alerts, common labels across firing */ -}}
{{- /* alerts (CommonLabels) or annotations (CommonAnnotations). All these values */ -}}
{{- /* can change as new alerts fire and old alerts resolve, making the subject */ -}}
{{- /* value change as well. */ -}}
{{- /* Having a stable subject is good for use cases where the grouped alerts state */ -}}
{{- /* is to me synchronized with another system (eg: PagerDuty), and we */ -}}
{{- /* want to prevent a stale subject from misleading people. */ -}}
{{- /* Examples: */ -}}
{{- /* "Alerts for $receiver" */ -}}
{{- /* "[$alertname_value] ($group_label_key=$group_label_value)" */ -}}
{{- /* "($group_label_key=$group_label_value)" */ -}}
{{- define "custom.subject" -}}
    {{- $data := . -}}
    {{- with .GroupLabels -}}
        {{- if eq $data.Status "firing" -}}
            {{- "Firing: " -}}
        {{- else -}}
            {{- "Resolved: " -}}
        {{- end -}}
        {{- $groupLabels := . -}}
        {{- with index . "alertname" -}}
            {{- "[" }}{{ . }}{{ "]" -}}
        {{- end -}}
        {{- with .Remove (stringSlice "alertname") -}}
            {{- with index $groupLabels "alertname" -}}
                {{- " " -}}
            {{- end -}}
            {{ "(" }}
            {{- with index .SortedPairs 0 -}}
                {{- .Name }}={{ .Value -}}
            {{- end -}}
            {{- with slice .SortedPairs 1 -}}
                {{- range . -}}
                    {{- " " }}{{ .Name }}={{ .Value -}}
                {{- end -}}
            {{- end -}}
            {{ ")" }}
        {{- end -}}
    {{- else -}}
        {{- if eq .Status "firing" -}}
            {{- "Firing" -}}
        {{- else -}}
            {{- "Resolved" -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

{{- /* custom.slack.color(Data) */ -}}
{{- /* Color Slack notifications: */ -}}
{{ define "custom.slack.color" -}}
    {{- if eq .Status "firing" -}}
        {{- "danger" -}}
    {{ else -}}
        {{- "good" -}}
    {{- end -}}
{{- end -}}

{{- /* custom.emoji(Data|Alert) */ -}}
{{- /* An emoji as a function of firing alerts and the severity. */ -}}
{{- define "custom.emoji" -}}
    {{- if eq .Status "firing" -}}
        {{- "🚨" -}}
    {{- else -}}
        {{ "👌" }}
    {{- end -}}
{{- end -}}

{{- /* custom.alert.title(Alert) */ -}}
{{- define "custom.alert.title" -}}
    {{- $alert := . -}}
    {{- with index .Labels.alertname -}}
        {{ . }}
        {{- with ($alert.Labels.Remove (stringSlice "alertname")).SortedPairs -}}
            {{- ": " }}
            {{- with index . 0 -}}
                {{- .Name }}={{ .Value -}}
            {{- end -}}
            {{- range slice . 1 -}}
                {{- " " }}
                {{ .Name }}={{ .Value -}}
            {{- end -}}
        {{- end -}}
    {{- else -}}
        {{- with index $alert.Labels.SortedPairs 0 -}}
            {{- .Name }}={{ .Value -}}
        {{- end -}}
        {{- with slice $alert.Labels.SortedPairs 1 -}}
            {{- range . -}}
                {{- " " }}
                {{ .Name }}={{ .Value -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

{{- /* custom.alert.title.grafana(Alert) */ -}}
{{- define "custom.alert.title.grafana" -}}
    {{- $alert := . -}}
    {{- with index .Labels.alertname -}}
        {{ . | urlquery | reReplaceAll "%5C" "%5C%22" }}
        {{- with ($alert.Labels.Remove (stringSlice "alertname")).SortedPairs -}}
            {{- ": " | urlquery }}
            {{- with index . 0 -}}
                {{- .Name | urlquery | reReplaceAll "%5C" "%5C%22" -}}
                {{- "=" | urlquery -}}
                {{ .Value | urlquery | reReplaceAll "%5C" "%5C%22" -}}
            {{- end -}}
            {{- range slice . 1 -}}
                {{- " " | urlquery -}}
                {{ .Name | urlquery | reReplaceAll "%5C" "%5C%22" -}}
                {{- "=" | urlquery -}}
                {{ .Value | urlquery | reReplaceAll "%5C" "%5C%22" -}}
            {{- end -}}
        {{- end -}}
    {{- else -}}
        {{- with index $alert.Labels.SortedPairs 0 -}}
            {{- .Name | urlquery | reReplaceAll "%5C" "%5C%22" -}}
            {{- "=" | urlquery -}}
            {{ .Value | urlquery | reReplaceAll "%5C" "%5C%22" -}}
        {{- end -}}
        {{- with slice $alert.Labels.SortedPairs 1 -}}
            {{- range . -}}
                {{- " " | urlquery -}}
                {{- .Name | urlquery | reReplaceAll "%5C" "%5C%22" -}}
                {{- "=" | urlquery -}}
                {{ .Value | urlquery | reReplaceAll "%5C" "%5C%22" -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

{{- /* custom.alert.grafana.explore(Alert) */ -}}
{{- define "custom.alert.grafana.explore" -}}
    {{- "<%= @grafana_url %>explore?left=" }}
    {{- "{\"datasource\":\"" | urlquery -}}
    {{- "<%= @grafana_alerting_datasource %>" | urlquery | reReplaceAll "%22" "%5C%22" -}}
    {{- "\",\"queries\":[{\"refId\":\"" | urlquery -}}
    {{- template "custom.alert.title.grafana" . -}}
    {{- "\",\"expr\":\"" | urlquery -}}
    {{-
        reReplaceAll "^.*/graph\\?g0\\.expr=" "" .GeneratorURL
            | reReplaceAll "&g0\\.tab=1$" ""
            | reReplaceAll "%22" "%5C%22"
    -}}
    {{- "\"}],\"range\":{\"from\":\"now-1h\",\"to\":\"now\"}}" | urlquery -}}
    {{- "&orgId=<%= @grafana_org_id %>" -}}
{{- end -}}

{{- /* custom.slack.alert.title(Alert) */ -}}
{{- /* Emoji + link to alert */ -}}
{{- define "custom.slack.alert.title" -}}
    {{- template "custom.emoji" . -}}
    {{- " <" -}}
    {{- template "custom.alert.grafana.explore" . -}}
    {{- "|" -}}
    {{- template "custom.alert.title" . -}}
    {{- ">\n" -}}
{{- end -}}

{{- /* custom.slack.alerts.title(Alerts) */ -}}
{{- /* Emoji + link to alerts */ -}}
{{- define "custom.slack.alerts.title" -}}
    {{- range . -}}
        {{- template "custom.slack.alert.title" . -}}
    {{- end -}}
{{- end -}}

{{- /* common.grafana.alerting.alert_rules.url(Data) */ -}}
{{- /* URL that points to Grafana Labs list of firing alerts. */ -}}
{{- define "common.grafana.alerting.alert_rules.url" -}}
    {{- "<%= @grafana_url %>alerting/list?" }}
        {{- "dataSource=<%= @grafana_alerting_datasource %>" -}}
        {{- "&queryString=" -}}
            {{- with .GroupLabels -}}
                {{- range .SortedPairs -}}
                    {{- .Name | urlquery -}}{{- "%3D" -}}{{- .Value | urlquery -}}{{- "," -}}
                {{- end -}}
            {{- end -}}
        {{- "&ruleType=alerting" -}}
        {{- "&alertState=firing" -}}
{{- end -}}

{{- /* common.grafana.alerting.silence.url(Data) */ -}}
{{- /* URL that points to a Grafana Labs page where a silence to all matching */ -}}
{{- /* alerts can be added */ -}}
{{- define "common.grafana.alerting.silence.url" -}}
    {{- "<%= @grafana_url %>alerting/silence/new?" -}}
        {{- "alertmanager=<%= @grafana_alertmanager %>&" -}}
        {{- with .GroupLabels -}}
            {{- range .SortedPairs -}}
                {{- "matcher=" -}}
                    {{- .Name | urlquery -}}
                    {{- "%3D" -}}
                    {{- .Value | urlquery -}}
                    {{- "&" -}}
            {{- end -}}
        {{- end -}}
{{- end -}}

{{- /* common.grafana.dashboard.alerts_history.url(Data) */ -}}
{{- /* URL that points to a Grafana Labs Dashboard with the history of alerts */ -}}
{{- define "common.grafana.dashboard.alerts_history.url" -}}
    {{- "<%= @grafana_url %>d/<%= @grafana_dashboard_alerts_history_id %>/?" -}}
        {{- "orgId=<%= @grafana_org_id %>&" -}}
        {{- "var-data_source=" -}}<%= @grafana_alerting_datasource %>{{- "&" -}}
        {{- /* alertname MAY be part of grouped labels */ -}}
        {{- with .GroupLabels.alertname -}}
            {{- "var-alertname=" -}}{{- . | urlquery -}}{{- "&" -}}
        {{- end -}}
        {{- /* Add any other group labels other than the ones already set */ -}}
        {{- with .GroupLabels.Remove (stringSlice "alertname") -}}
            {{- range .SortedPairs -}}
                {{- "var-label=" -}}
                    {{- .Name | urlquery -}}
                    {{- "%7C%3D%7C" -}}
                    {{- .Value | urlquery -}}
                    {{- "&" -}}
            {{- end -}}
        {{- end -}}
{{- end -}}

{{- /* custom.slack.text(Data) */ -}}
{{- define "custom.slack.text" -}}
    {{- with .Alerts.Firing -}}
        {{- template "custom.slack.alerts.title" . -}}
    {{- end -}}
    {{- with .Alerts.Resolved -}}
        {{- template "custom.slack.alerts.title" . -}}
    {{- end -}}
    {{- "\n" -}}
       {{- "<" -}}
        {{- template "common.grafana.alerting.alert_rules.url" . -}}
        {{- "|📜 Rules" -}}
    {{- ">" -}}
    {{- " | " -}} 
    {{- "<" -}}
        {{- template "common.grafana.dashboard.alerts_history.url" . -}}
        {{- "|⌚ History" -}}
    {{- ">" -}}
    {{- " | " -}}
    {{- "<" -}}
        {{- template "common.grafana.alerting.silence.url" . -}}
        {{- "|🔕 Silence" -}}
    {{- ">" -}}
{{- end -}}