[Unit]
Description=ustreamer
After=network.target

[Service]
User=ustreamer
ExecStart=<%= @install_path %>/ustreamer --device=<%= @device %> --host=127.0.0.1 --port=<%= @port %> --resolution=<%= @resolution %>
Restart=always

[Install]
WantedBy=multi-user.target