[Unit]
Description=TinyTinyRSS Update Daemon
After=network.target mysql.service mysql.service

[Service]
User=ttrss
ExecStart=env <%= @env %> <%= @php %> <%= @install_path %>/update_daemon2.php
Restart=always

[Install]
WantedBy=multi-user.target