[Unit]
Description=TinyTinyRSS Update Daemon
After=network.target mysql.service mysql.service

[Service]
User=tt-rss
ExecStart=<%= @php %> <%= @install_path %>/update_daemon2.php

[Install]
WantedBy=multi-user.target